.dealersFirstCard {
    visibility: hidden;
    transform: scale(1.1);
}


.users-card {
    height: 175px;
    background-color: white;
    border: black 2px solid;
    width: 135px;
    transform: scale(1.1);
}

.topGem {
    position: relative;
    left: -11px;
    top: 21px;
}

.bottomGem {
    position: relative;
    top: 129px;
    left: 89px;
    transform: rotate(180deg);
}

.cardnumber-top{
    top: -30px;
    position: relative;
    left: -9px;
    font-size: 24px;
}

.cardnumber-bottom {
    position: relative;
    margin-top: 83px;
    font-size: 25px;
    transform: rotate(180deg);
    left: 10px;
    
}

.black {
    color: black;
}

.red {
    color: red;
}
.ms-5 {
    margin-left: 5rem !important;
}