.dealersFirstCard {
    visibility: hidden;
}

.topGem {
position: relative;
left: -11px;
top: 21px;

}
.bottomGem {
position: relative;
top: 129px;
left: 89px;
transform: rotate(180deg);
}
.cardnumber-top{
    top: -30px;
    color: red;
    position: relative;
    left: -9px;
    font-size: 24px;
}
.cardnumber-bottom {
    position: relative;
    margin-top: 83px;
    font-size: 25px;
    transform: rotate(180deg);
    left: 10px;

}
.users-card {
    height: 175px;
    background-color: white;
    border: black 1px solid;
    width: 135px;
}

#gameStatus-Container {
    border: 3px black solid;
    border-radius: 20px;
    text-align: center;
}
#heading-gameStatus {
    font-size: 30px;
}
#gameStatus {
    margin-left: 10px;
    font-weight: bold;
    font-size: 30px; 
}
#dealHandBtn {
    text-align: center;
}
#scoreContainer {
    border: black 1px solid;
    text-align: center;
    font-size: 25px;
}
#nextHandBtn {
    width: 100%;  
}

.chipTrackers {
    border-right: 2px solid black;
}
.betControls {
    width: 100%;
}
#player-hand-display{
    background-color: rgb(61, 109, 12);
    height: 200px;
    width: 100vw;
    border: black 3px solid;
    box-shadow: black 10px 5px 5px;
}
#cpu-hand-display{
    background-color: rgb(61, 109, 12);
    height: 200px;
    width: 100vw;
    border: black 3px solid;
    box-shadow: black 10px 5px 5px;
}
.firstCardCpu {
    
    position: relative;
    top: -162px;
    left: -197px;
    transform: scale(.45);
}