*{
    margin: 0;
    padding: 0;
}
#gameStatus-Container {
    border: 3px black solid;
    border-radius: 20px;
    text-align: center;
}
#heading-gameStatus {
    font-size: 30px;
}
#gameStatus {
    margin-left: 10px;
    font-weight: bold;
    font-size: 30px; 
}
#dealHandBtn {
    text-align: center;
}
#scoreContainer {
    border: black 1px solid;
    text-align: center;
    font-size: 25px;
}
#nextHandBtn {
    width: 100%;
}
.chipTrackers {
    border-right: 2px solid black;
}
.betControls {
    width: 100%;
}